<p id="notice"><%= notice %></p>

<p>
  <strong>Current hr:</strong>
  <%= @emotion.current_hr %>
</p>

<p>
  <strong>Emotion v:</strong>
  <%= @emotion.emotion_v %>
</p>

<p>
  <strong>Emotion a:</strong>
  <%= @emotion.emotion_a %>
</p>

<p>
  <strong>User:</strong>
  <%= @emotion.user %>
</p>

<%= link_to 'Edit', edit_emotion_path(@emotion) %> |
<%= link_to 'Back', emotions_path %>
